body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="address"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #070707;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .link-like-text{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #080808;
  }
  